/* a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
} */
a {
    text-decoration: none;
    color: aliceblue;
}
.logout-icon{
    text-decoration: none;
    color: aliceblue;
}
.logout-icon:hover{
    cursor: pointer;
    color: blue;
}